*sh
*
!secrets.enc.yml
!secrets.enc.yaml
!secrets.hcl
!secrets.enc.hcl
!terragrunt.hcl
!deployment/**/terragrunt.hcl
!modules/**
!deployment/**/root.hcl
.idea
!*/
.terragrunt-cache
!.gitignore
!README.md
!*.yaml
